/#recentf#
/%backup%~
/.cask/*
/.org-id-locations
/ac-comphist.dat
/auto-save-list/*
/backups/*
/bookmarks
/elpa/*
/eshell/*
/haxe-tools/*
/ido.last
/*~
/places
/projectile-bookmarks.eld
/projectile.cache
/recentf
/server/*
/speed-type/*
/tomatinho/*
/tramp
/url/*
/var/*
/dev/emacs-dokuwiki/*
/network-security.data
/session.*
/dev/haxe-tools/*
/user.el
/dev/tic-tac-toe/
/dev/emacs-haxe-imports/
