# -*- mode: snippet -*-
# name: seperator comment 
# key: sep
# --
// ============================================= ${1:$$(upcase yas-text)} ============================================= //
   $0
